
@model  List<Models.Framework.NHAN_VIEN>
<link href="~/Areas/Admin/Content/admin/css/animate.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/admin/css/bootstrap.js"></script>
<link href="~/Areas/Admin/Content/admin/css/imagecenter.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/admin/css/rmodal.css" rel="stylesheet" />
<style type="text/css">
    .modal .modal-dialog {
        margin-top: 200px;
        width: 60%;
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://unpkg.com/rmodal@1.0.26/dist/rmodal.js"></script>
<script type="text/javascript" src="~/Areas/Admin/assets/scripts/rmodal.js"></script>
@section header{
    Nhân Viên
}

<html>
<head>

</head>
<body>

    <!-- end navbar top -->
    <!-- navbar side -->


    <div class="box">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="box-header hd1">
                        <div class="input-group-btn">
                            <a class="btn btn-primary" href="~/Admin/ADNhanVien/Create"> Thêm mới</a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="width: 5%; text-align: center">
                                            @Html.DisplayNameFor(model => model.First().MA_NV)
                                        </th>
                                        <th style="width:20% ; text-align: center">
                                            @Html.DisplayNameFor(model => model.First().TENNV)
                                        </th>
                                        <th style="width:10% ; text-align: center">
                                            @Html.DisplayNameFor(model => model.First().CHUCVU)
                                        </th>
                                        <th style="width:10% ; text-align: center">
                                            @Html.DisplayNameFor(model => model.First().CMND_NV)
                                        </th>
                                        <th style="width:20% ; text-align: center">
                                            @Html.DisplayNameFor(model => model.First().EMAIL_NV)
                                        </th>
                                        <th style="width: 25%; text-align: center">
                                            Chỉnh sửa dữ liệu
                                        </th>
                                    </tr>
                                </thead>
                                    @foreach (var item in Model)
                                {
                            <tr id="row_@item.MA_NV">
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.MA_NV)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.TENNV)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.CHUCVU)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.CMND_NV)
                                </td>
                                <td style="text-align: center;">
                                    @Html.DisplayFor(modelItem => item.EMAIL_NV)
                                </td>
                                <td style="text-align: center">
                                    <a class="btn btn-default" href='@Url.Action("Edit", "ADNhanVien", new { eMail = @item.EMAIL_NV })' style="width:50px"><i class="fa fa-fw fa-edit" title="Sửa"></i></a>
                                    <a class="btn btn-danger btn-xs" onclick="deleteItem('@item.EMAIL_NV')" href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>

                                    <a name="showModal" class="btn btn-primary" style="width:50px" title="Chi tiết">
                                        <i class="fa fa-fw fa-clipboard"></i>
                                        <input type="hidden" id="ma_nv" value="@item.MA_NV" />
                                        <input type="hidden" id="ten_nv" value="@item.TENNV" />
                                        <input type="hidden" id="cmnd_nv" value="@item.CMND_NV" />
                                        <input type="hidden" id="email_nv" value="@item.EMAIL_NV" />
                                        <input type="hidden" id="sdt_nv" value="@item.SDT_NV" />
                                        <input type="hidden" id="cv_nv" value="@item.CHUCVU" />
                                        <input type="hidden" id="dc_nv" value="@item.DIACHI_NV" />
                                        <input type="hidden" id="pass_nv" value="@item.MATKHAU" />

                                    </a>
                                    <div id="modal" class="modal">
                                        <div class="modal-dialog animated">
                                            <div class="modal-content">
                                                <form class="form-horizontal" method="get">
                                                    <div class="modal-header">
                                                        <button style="width:100px; float:right;width:50px" class="btn btn-danger" onclick="modal.close();"><i class="fa fa-fw fa-remove"></i></button>
                                                        <strong>Details of <font id="nameBook"></font></strong>
                                                    </div>
                                                    <center>
                                                        <div class="modal-body">
                                                            <div>
                                                                <div style="float: left; margin-right:2px">
                                                                    <a style="display:none" id="URLImageBook"></a>
                                                                    <img height="280" width="275" id="imgBook" src="~/Areas/Admin/assets/img/hinhdaidien.png" />

                                                                </div>
                                                                <div>
                                                                    <table class="table table-bordered table-hover" style="width:60%">
                                                                        <tr>
                                                                            <td>
                                                                                <p>Mã nhân viên:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textTen1" /></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <p>Tên nhân viên:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textTen" /></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <p>Email:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textEmail" /></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <p>Số điện thoại:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textSdt" /></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <p>Số CMND:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textCmnd" /></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <p>Địa chỉ:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textDc" /></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <p>Mật khẩu:</p>
                                                                            </td>
                                                                            <td>
                                                                                <p><font id="textMk" /></p>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </center>
                                                    <div class="modal-footer">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
}
                            </table>
                        </div>
                    </div>
        </div>
    </div>
    </div>
    </div>
    <script language="javascript">
        window.onload = function () {
            var modal = new RModal(document.getElementById('modal'), {
                //content: 'Abracadabra'
                beforeOpen: function (next) {
                    console.log('beforeOpen');
                    next();
                }
                , afterOpen: function () {
                    console.log('opened');
                }

                , beforeClose: function (next) {
                    console.log('beforeClose');
                    next();
                }
                , afterClose: function () {
                    console.log('closed');
                }

            });

            document.addEventListener('keydown', function (ev) {
                modal.keydown(ev);
            }, false);
            $("a[name='showModal']").click(function () {
                $('#nameBook').text($(this).find('input[type=hidden]').val());
                $('#textTen1').text($(this).find('input[id=ma_nv]').val());
                $('#textTen').text($(this).find('input[id=ten_nv]').val());
                $('#textEmail').text($(this).find('input[id=email_nv]').val());
                $('#textSdt').text($(this).find('input[id=sdt_nv]').val());
                $('#textCmnd').text($(this).find('input[id=cmnd_nv]').val());
                $('#textDc').text($(this).find('input[id=dc_nv]').val());
                $('#textMk').text($(this).find('input[id=pass_nv]').val());

                modal.open();
            });

        }
        function deleteItem(id) {
            bootbox.confirm({
                title: "Thông báo xóa?",
                message: "Bạn có muốn xóa mục này không? ",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Tiếp tục'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        $.post('/Admin/ADNhanVien/Delete', { id: id }, function (data) {
                            if (data.success == 1) {
                                alert('Xóa thành công!');
                                $('#row_' + id).remove();
                            } else { alert('Xóa thất bại!'); }
                        })
                    }
                }
            });
        }
    </script>
</body>
</html>

